.logo{
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
}

article{
    display: inline-block;
    border: 1px solid;
    padding: 20px;
    margin: auto; /* applying auto margin automatically centers the child element article relative to the flex parent body */
    min-width: 408px;
    max-width: 408px;
    /* margin-left:38%;
    margin-right: 40%; */

}

.new {
    text-align: center;
}
.buttons{
    background-color:navajowhite;
    width: 410px;
}
.footer ul{
    list-style-type: none;
    
}
.footer li{
    display: inline;
    padding-right: 20px;
}
.footer{
    background-color: lightgray;
    height: 600px;
    text-align: center;
}
#forgot{
    margin-left: 200px;
    padding-right: 0px;
}
#name{
    width: 400px;
}
#username{
    width: 400px;
}
